extends layout

block content
  .container
    .header-section
      a.back-btn(href='/') < 返回首页
      h1.page-title= title
    div.image-grid
      each image in images
        div.image-item
          img(src=image, alt="板书图片" onclick="showFullscreen(this)")
block scripts
  script(src="/javascripts/imageViewer.js")